  <%= if @task.user_id == nil do %>
    <h1>Assign Task</h1>

    <%= render "assign.html", Map.put(assigns, :action, Routes.task_path(@conn, :update, @task)) %>


  <% else %>
    <h1>Finish Task</h1>

    <%= render "finish.html", Map.put(assigns, :action, Routes.task_path(@conn, :edit, @task)) %>
  
  <% end %>

  <span><%= link "Back", to: Routes.page_path(@conn, :index) %></span>

