<h1>Assign Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Desc</th>
      <th>Done</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for task <- @tasks do %>
    <tr>
      <td><%= task.title %></td>
      <td><%= task.desc %></td>
      <td><%= task.done %></td>
      <t><%= task.assigned %></td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "Back", to: Routes.page_path(@conn, :index) %></span>
