<%= if @current_user do %>
<h1><%= @current_user.name %>'s Task(s)</h1>
<% end %>
<ul>

  <li>
    <strong>Title:</strong>
    <%= @task.title %>
  </li>

  <li>
    <strong>Desc:</strong>
    <%= @task.desc %>
  </li>

  <li>
    <strong>Done:</strong>
    <%= @task.done %>
  </li>

</ul>

<span><%= link "Back", to: Routes.page_path(@conn, :index) %></span>
